<div class="pas">
  <div class="unit-right ptxs">
    <a href="<%=h url_path("log/#{log_info['_id']}") %>" target="_blank">More Info</a>
  </div> <!-- unit-right -->
  <h2 class="phs mvs"><span class="<%= log_info['is_exception'] ? 'failure' : 'success' %>">Message</span></h2>
  <div class="phs wrap_text">
    <% if log_info['is_exception'] && log_info['messages'] && log_info['messages']['error'] %>
      Error: <%= log_info['messages']['error'].join("\n").truncate(300, :separator => ' ') %>
    <% elsif log_info['messages'] && log_info['messages']['info'] %>
      Info: <%= log_info['messages']['info'].join("\n").truncate(300, :separator => ' ') %>
    <% end %>
  </div> <!-- phs -->
  <h2 class="phs mtm mbs">URL (method: <%=h log_info['method'] %>)</h2>
  <div class="phs wrap_text">
    <a href="<%=h log_info['url']%>" target="_blank"><%=h log_info['url']%></a>
  </div> <!-- phs --> 
  <h2 class="phs mtm mbs">Received</h2>
  <div class="phs">
    <%=h log_info['request_time']%>
  </div> <!-- phs -->
  <h2 class="phs mtm mbs">IP</h2>
  <div class="phs">
    <a href="http://www.infosniper.net/index.php?ip_address=<%=h log_info['ip']%>&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">
      <%=h log_info['ip']%>
    </a>
  </div> <!-- phs -->
</div> <!-- pas -->