<tr class="log_info" data-url="<%=h url_path("log_info/#{log['_id']}") %>">
  <td><span class="<%= log['is_exception'] ? "error" : "notice" %>"></span> <%=h log['request_time']%></td>
  <td><%=h log['controller']%></td>
  <td><%=h log['action']%></td>
  <td><%=h log['ip']%></td>
  <td class="url_log"><%=h log['url']%></td>
  <td><%=h log['runtime']%></td>
</tr>