<!DOCTYPE html>
<html>
<head>
  <title>MongoDB Logger</title>
  <link href="<%=u 'stylesheets/all.css' %>" media="screen" rel="stylesheet" type="text/css">
  
  <script src="<%=u 'javascripts/vendors/jquery-1.7.min.js' %>" type="text/javascript"></script>
  <script src="<%=u 'javascripts/vendors/jquery-ui-1.8.16.effects.min.js' %>" type="text/javascript"></script>
  <script src="<%=u 'javascripts/vendors/jquery.pjax.js' %>" type="text/javascript"></script>
  <script src="<%=u 'javascripts/vendors/highlight.pack.js' %>" type="text/javascript"></script>
  <script src="<%=u 'javascripts/logs.js' %>" type="text/javascript"></script>
</head>
<body>
<div class="page">          
  <div class="header">
    <div class="wrapper">
      <div class="unit-right stats">
        <div class="unit size2of3">
          <div class="ptxs pls"><strong>DB:</strong> <%=h @db.name %></div>
          <div class="pls"><strong>Collection:</strong> <%=h @collection.name %></div>
        </div> <!-- unit -->
        <div class="unit size1of3">
          <div class="pts prs txtR">
            <span id="db_collection_count" class="log-num"><%=h @collection_stats["count"] %></span></div>
        </div> <!-- unit -->
        <% if @collection_stats["capped"] && 1 == @collection_stats["capped"] %>
        
        <div class="progress">
          <span class="size"><%=h number_to_human_size(@collection_stats["size"]) %> of <%=h number_to_human_size(@collection_stats["storageSize"]) %></span>
          <div class="used" style="width: <%=((@collection_stats["size"].to_f / @collection_stats["storageSize"].to_f) * 100).round%>%"></div>
        </div> <!-- progress -->
                  
        <% else %>
          <div class="warning"><p>You do not use capped collection for logs. 
            <a href="http://www.mongodb.org/display/DOCS/Capped+Collections#CappedCollections-Convertingacollectiontocapped" target="_blank" class="more">More info.</a></p>
          </div>
        <% end %>
      </div>
      <a href="<%=h url_path("overview") %>" class="logo" data-pjax='#main_pjax'><img src="<%=u 'images/logo.png'%>" alt="MongoDB Logger"></a> <span class="logger ">logger</span>
    </div> <!-- wrapper -->
  </div> <!-- header -->            
  <div class="content">
    <div class="wrapper">
      <div id="main_pjax" class="mainbox">
        <%= yield %>
      </div> <!-- mainbox -->
    </div> <!-- wrapper -->
  </div> <!-- content -->
</div>
  
</body>
</html>