<!DOCTYPE html>
<html>
<head>
  <title>MongoDB Logger</title>
  <link href="<%=u 'stylesheets/all.css' %>" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page">          
  <div class="header">
    <div class="wrapper">
      <div class="unit-right stats">
        <div class="unit size2of3">
          <div class="ptxs pls"><strong>DB:</strong> <%=h @db.name %></div>
          <div class="pls"><strong>Collection:</strong> <%=h @collection.name %></div>
        </div> <!-- unit -->
        <div id="collection_stats">
          <%= partial(:"shared/collection_stats", :object => @collection_stats) %>
        </div>
      </div>
      <a href="<%=h url_path("overview") %>" class="logo" data-pjax='#main_pjax'><img src="<%=u 'images/logo.png'%>" alt="MongoDB Logger"></a> <span class="logger ">logger</span>
    </div> <!-- wrapper -->
  </div> <!-- header -->            
  <div class="content">
    <div class="wrapper">
      <div id="main_pjax" class="mainbox">
        <%= yield %>
      </div> <!-- mainbox -->
    </div> <!-- wrapper -->
  </div> <!-- content -->
</div>

<!-- scripts -->
<script src="<%=u 'javascripts/vendors/jquery-1.7.min.js' %>" type="text/javascript"></script>
<script src="<%=u 'javascripts/vendors/jquery-ui-1.8.16.effects.min.js' %>" type="text/javascript"></script>
<script src="<%=u 'javascripts/vendors/jquery.pjax.min.js' %>" type="text/javascript"></script>
<script src="<%=u 'javascripts/vendors/highlight.pack.js' %>" type="text/javascript"></script>
<script src="<%=u 'javascripts/logs.js' %>" type="text/javascript"></script>

</body>
</html>