<!DOCTYPE html>
<html>
<head>
  <title>MongoDB logger</title>
  <link href="<%=u 'stylesheets/reset.css' %>" media="screen" rel="stylesheet" type="text/css">
  <link href="<%=u 'stylesheets/style.css' %>" media="screen" rel="stylesheet" type="text/css">
  <script src="<%=u 'javascripts/jquery-1.7.min.js' %>" type="text/javascript"></script>
  <script src="<%=u 'application.js' %>" type="text/javascript"></script>
</head>
<body>
  <div id="ajax_loader">Loading...</div>
  <div>
    <%= yield %>
  </div>
</body>
</html>