<h1>Logs</h1>
<div id="tail_logs_block">
  <div class="initial">
    <a id="tail_logs_link" href="<%=h url_path("tail_logs") %>">
      Push
    </a>
  </div>
  <div class="info">
    <a id="tail_logs_stop_link" href="#">
      Stop
    </a>
  </div>
</div>

<div class="filter">
  <form action="<%=h url_path("overview") %>" method="get" accept-charset="UTF-8">
    <div>
      <label for="f_controller">Controller</label>
      <input id="f_controller" type="text" name="f[controller]" value="<%=get_field_val('controller')%>" />
    </div>
    <div>
      <label for="f_action">Action</label>
      <input id="f_action" type="text" name="f[action]" value="<%=get_field_val('action')%>" />
    </div>
    <div>
      <label for="f_application_name">Application name</label>
      <input id="f_application_name" type="text" name="f[application_name]" value="<%=get_field_val('application_name')%>" />
    </div>
    <div>
      <label for="f_ip">IP</label>
      <input id="f_ip" type="text" name="f[ip]" value="<%=get_field_val('ip')%>" />
    </div>
    <ul id="filter_fields_list"></ul>
    <a id="add_more_filter_link" href="#">Add more</a>
    <div>
      <label for="f_limit">Limit</label>
      <%=select_tag("f[limit]", [100, 500, 1000, 2000, 5000, 10000], get_field_val('limit'))%>
    </div>
    <input type="submit" name="submit" value="Filter" />
    <a href="<%=h url_path("overview") %>">Clear</a>
  </form>
  
  <div id="filter_block" style="display:none;">
    <div>
      <select name="f[additional][][type]">
        <option value="int">Int</option>
        <option value="bool">Bool</option>
      </select>
      <input type="text" name="f[additional][][key]" />
      <select name="f[additional][][condition]">
        <option value="eq">Equal</option>
        <option value="neq">Not equal</option>
      </select>
      <input type="text" name="f[additional][][value]" />
    </div>
    <a href="#" class="delete_filter_fields">Close</a>
  </div>
</div>

<div id="log_info"></div>

<ul id="logs_list">
<% @logs.each do |log| %>
  <%= partial(:"shared/log", :object => log) %>
<% end %>
</ul>
