<div class="topline">
  <%= partial(:"shared/tabs") %>
  <div class="unit-right">
    <div id="tail_logs_block">
      <div class="initial">
        <a id="tail_logs_link" href="#" data-url="<%=h url_path("tail_logs") %>" class="button mts mrs">
          <span class="start" data-url="<%=h url_path("tail_logs") %>">Tail</span>
        </a>
      </div>
      <div class="info">
        <span id="tail_logs_time" class="logs-time mrs"></span>
        <a id="tail_logs_stop_link" href="#" class="button negative mts mrs">
          <span class="stop">Stop</span>
        </a>
      </div>
    </div>
  </div> <!-- unit-right -->
  
  <div id="ajax_loader"><img src="<%=u 'images/spinner.gif'%>" alt="loading..."></div>
</div> <!-- topline -->

<div class="outer">
  <div class="unit size3of4">
    <div class="filter phm pvs" style="<%= 'display:block;' unless @filter.get_mongo_conditions.blank?  %>">
      <form action="<%=h url_path("overview") %>" method="get" accept-charset="UTF-8">
        <div class="outer mvs">
          <div class="unit size1of3">
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :controller, :placeholder => "Controller" %>
              </div> <!-- prm -->                        
            </div>
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :action, :placeholder => "Action" %>
              </div>
            </div>            
          </div>                
            <div class="unit size1of3">
              <div class="unit size1of2">
                <%= label_tag @filter, :limit, "Limit of logs" %>
                <%= select_tag @filter, :limit, [50, 100, 500, 1000, 2000, 5000, 10000] %>
              </div> <!-- unit -->
              <div class="unit size1of2">
                <div class="plm">
                  <%= submit_tag :submit, "Filter", :class => "button primary" %>
                </div> <!-- plm -->                
              </div> <!-- unit -->
            </div>
        </div> <!-- outer -->
        <div class="outer mvs">
          <div class="unit size1of3">
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :application_name, :placeholder => "Application Name" %>
              </div>
            </div>
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :ip, :placeholder => "IP" %>
              </div>
            </div>
          </div>
          <div class="unit size1of3">
            <div class="unit size1of2">
              <div class="prm ptxs">
                <%= check_box_tag @filter, :is_exception %>
                <%= label_tag @filter, :is_exception, "Filter exceptions" %>
              </div>
            </div>
            <div class="unit size1of2">
              <div class="ptxs plm">
                <a href="<%=h url_path("overview") %>">Clear</a>
              </div> <!-- ptxs -->              
            </div> <!-- unit -->
          </div> <!-- unit -->
        </div> <!-- outer -->
      </form>
      </div> <!-- filter -->

      <div class="filter-toggle"><span class="arrow-down">Filter</span></div>
      
      <% if @logs.count > 0 %>
        <table id="logs_list">
          <tr>          
            <th>Received</th>
            <th>Controller</th>
            <th>Action</th>
            <th>IP</th>
            <th>URL</th>
            <th>Runtime</th>
          </tr>
        
          <% @logs.each do |log| %>
            <%= partial(:"shared/log", :object => log) %>
          <% end %>
        </table>
      <% else %>
        <div class="pale pal txtC">No logs found, try to filter out the other parameters</div>
      <% end %>
  </div> <!-- unit size3of4 -->
  
  <div class="unit size1of4">
    <div class="details">
      
      <div id="log_info">
        <div class="pale h2 pal txtC">
          Please choose log to see details
        </div> <!-- pale h2 -->
      </div>
    </div> <!-- details -->    
  </div> <!-- unit size1of4 -->
</div> <!-- outer -->