<div class="topline">
  <%= partial(:"shared/tabs") %>
  <div class="unit-right">
    <div id="tail_logs_block">
      <div class="initial">
        <a id="tail_logs_link" href="#" data-url="<%=h url_path("tail_logs") %>" class="button mts mrs">
          <span class="start" data-url="<%=h url_path("tail_logs") %>">Tail</span>
        </a>
      </div>
      <div class="info">
        <span id="tail_logs_time" class="logs-time mrs"></span>
        <a id="tail_logs_stop_link" href="#" class="button negative mts mrs">
          <span class="stop">Stop</span>
        </a>
      </div>
    </div>
  </div> <!-- unit-right -->
</div> <!-- topline -->

<div class="outer">
  <div class="unit size3of4">
    <div class="filter phm pvs">
      <form action="<%=h url_path("overview") %>" method="get" accept-charset="UTF-8">
        <div class="outer mvs">
          <div class="unit size1of3">
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :controller, :placeholder => "Controller" %>
              </div> <!-- prm -->                        
            </div>
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :action, :placeholder => "Action" %>
              </div>
            </div>
          </div>                
            <div class="unit size1of3">
              <%#= select_tag @filter, :limit, :options => [100, 500, 1000, 2000, 5000, 10000] %>
              <%= submit_tag :submit, "Filter", :class => "button primary" %>              
            </div>
        </div> <!-- outer -->
        <div class="outer mvs">
          <div class="unit size1of3">
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :application_name, :placeholder => "Application Name" %>
              </div>
            </div>
            <div class="unit size1of2">
              <div class="prm">
                <%= text_field_tag @filter, :ip, :placeholder => "IP" %>
              </div>
            </div>
          </div>
          <div class="unit size1of3">
            <div class="unit size1of2">
              <div class="prm ptxs">
                <a href="<%=h url_path("overview") %>">Clear</a>
                <%#= f.check_box :is_exception %>
                <%#= f.label :is_exception, "Filter exceptions" %>
              </div>
            </div>
          </div> <!-- unit -->
        </div> <!-- outer -->
      </form>
      </div> <!-- filter -->

      <div class="filter-toggle" onclick="$('div.filter').slideToggle();">Filter</div>
      
      <table id="logs_list">
        <tr>
          <th>Received</th>
          <th>Controller</th>
          <th>Action</th>
          <th>IP</th>
          <th>URL</th>
          <th>Runtime</th>
        </tr>
        
        <% @logs.each do |log| %>
          <%= partial(:"shared/log", :object => log) %>
        <% end %>
      </table>
  </div> <!-- unit size3of4 -->
  
  <div class="unit size1of4">
    <div class="details">
      <div id="log_info">
      </div>
    </div> <!-- details -->    
  </div> <!-- unit size1of4 -->
</div> <!-- outer -->